<div id="opponents-by-country">
  <%= if @loading do %>
    <div class="flex justify-center items-center">
      <.spinner size="lg" class="text-brand-500" />
    </div>
  <% else %>
    <!-- render data here -->
    <canvas id="countries" phx-hook="OpponentsByCountry" data-points={Jason.encode!(@countries)}>
    </canvas>
  <% end %>
</div>