<div id="opponents-by-country" class="flex">
  <%= if @loading do %>
    <div class="flex justify-center items-center w-full">
      <.spinner size="lg" class="text-brand-500" />
    </div>
  <% else %>
    <div class="mx-auto my-auto w-full max-w-[600px]">
        <canvas id="countries" phx-hook="OpponentsByCountry" data-points={Jason.encode!(@countries)}>
        </canvas>
    </div>
  <% end %>
</div>
