<.live_component module={SearchComponent} id="search-results" show={@show} on_cancel={%JS{}} />
<.live_component
  module={OpponentsByCountryLive}
  id="opponents-by-country"
  profile_id={@profile_id}
/>
